<launch>
    <group ns="franka_pivot_control">
        <arg name="robot_ip" default="" />
        <arg name="distance_ee_to_pp" default="0.5" />
        <arg name="dynamic_rel" default="0.5"/>
        <arg name="enable_keyboard_controller" default="false" />

        <node name="franka_pivot_control" pkg="franka_pivot_control_ros" type="franka_pivot_control_ros"
            output="screen" required="true">
            <param name="robot_ip" value="$(arg robot_ip)"/>
            <param name="distance_ee_to_pp" value="$(arg distance_ee_to_pp)"/>
            <param name="frame_id" value="laparoscope"/>
            <remap from="target_dof_pose" to="/laparoscope/pivot_controller/target/laparoscope_dof_pose" />
            <remap from="dof_boundaries" to="/laparoscope/pivot_controller/laparoscope_dof_boundaries" />
            <remap from="current_dof_pose" to="/laparoscope/pivot_controller/current/laparoscope_dof_pose" />
        </node>

        <node if="$(arg enable_keyboard_controller)" name="keyboard_controller" pkg="pivot_control_messages_ros" type="keyboardController.py">
            <remap to="target/laparoscope_dof_pose" from="/laparoscope/pivot_controller/target/laparoscope_dof_pose"/>
            <remap to="laparoscope_dof_boundaries" from="/laparoscope/pivot_controller/laparoscope_dof_boundaries"/>
            <remap to="current/laparoscope_dof_pose" from="/laparoscope/pivot_controller/current/laparoscope_dof_pose"/>
        </node>
    </group>
</launch>